* {
	box-sizing: border-box;
}
body {
	min-height: 200 vh;
}
.name {
	color: black;
	font-family: Roboto;
	font-size: 400%;
	width: 75%;
	float: left;
}
div.image {
	display: block;
	border-radius: 50%;
	width: 25%;
	float: left;
}
