body {
	min-height: 200 vh;
}
.name {
	color: black;
	font-family: Roboto;
	font-size: 400%;
}

.artistImg {
	border-radius: 50%;
	width: 50%;
}
div.image {
	display: block;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
